ul {
    list-style-type: none;
    
        
}
li a{
    display: block;
}
li {
    float: right;
    padding: 10px
}
.title {
    font-weight: bold;
    padding-left: 50px;
    font-family: cursive;
    position: fixed;
    top: 0%;
}
li a:hover {
    background-color: turquoise;
}
.item {
    border: 2px;
    width: 500px;
}