ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
li {
    float: right;
}
li a {
    display: block;
    padding: 8px;
    margin: 15px;
  }
li a:hover {
    background-color: rgb(41, 49, 48);
}
.title{
    display: block;
    padding: 8px;
    float: left;
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
}
div {
    border: 2px;
}
p {
    font-family: cursive;
    color: black;
}

h1 {
    font-size: 16px;
    color: aliceblue;

}
nav{
  background-color: rgb(216, 126, 23);
}


.items>div{
      border: 2px;
      max-width: 400px;
      /* max-width:max-content; */    
      
}
.items{
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
  }
.my-beds{
    max-width: 100px;
    margin: 30px;
    border: 2px;
    box-shadow: inset;
}
.t-head> td{
    width: 50px;

}
.my-carousel{
  max-width: 100%;
  align-content: center;
  margin: 30px;
  max-height: 4000px;
}
.card-image{
  width: 300px;
  height: 250px;
}
.carousel-image{
  max-width: 100%;
  height: 900px;
}
.card{
  box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
  margin: 10px;
  text-align: center;
}
.addToCart-btn{
  margin: 5px;
}

/* Cart */



  