ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
li {
    float: right;
}
li a {
    display: block;
    padding: 8px;
    margin: 15px;
  }
li a:hover {
    background-color: turquoise;
}
.title{
    display: block;
    padding: 8px;
    float: left;
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
}
div {
    border: 2px;
}
p {
    font-family: cursive;
    color: black;
}

h1 {
    font-size: 16px;
    color: aliceblue;

}
.singleItem {
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    margin-top: 30px;
    width: 500px;
  }

.items>div{
      border: 2px;
      max-width: 400px;
      /* max-width:max-content; */
         
      
  }

.beds{
      display: block;
      
      align-content: center;
  }
  .my-beds{
    max-width: 100px;
    margin: 30px;
    border: 2px;
    box-shadow: inset;
  }
.t-head> td{
    width: 50px;

}


  